@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-left {
    opacity: 0;
    animation: fadeLeft ease 1.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeLeft {
    0% {opacity:0; transform: translateX(100%);}
    100% {opacity:1; transform: translateX(0);}
}

.enter-up {
    animation: enterUp ease-out 0.8s forwards;
}

.transform.translate-y-full {
    opacity:0;
    transform: translate(0, 100%);
  }

@keyframes enterUp {
    from {
        opacity:0;
        transform: translateY(100%);
    }

    to {
        opacity:1;
        transform: translateY(0);
    }
}

